<div class="contents row">
   <%= form_tag("/posts/#{@post.id}", method: :patch ) do %>
     <h3>
       編集する
     </h3>

     <%= form_for(@post) do |f| %>

         <%= f.text_field :title %><br>
     <input type="submit" value="SEND">
   <% end %>
   <% end %>

 </div>


 <!-- <h2>プロフィール画像</h2>
      <div class="form-group file">
        <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "画像アップロード" %>
      </div> -->
