
<div>
    <div  img class="imagezone" >
      <% @posts.each do |post| %>
      <div class="username">
        <span></span>
      <div>
      <div class="image">
        <img><%=   image_tag post.image %><br>
      </div>
      <div class="description">
        <p><%= post.title %></p>
      </div>
    </div>
      <% end %>
      <%= paginate(@posts) %>
    </div>


    <!-- <div class="detailzone">
      <% @posts.each do |detail| %>
      <%= detail.title %>
      <% end %>
    </div> -->
</div>
