
  div.grid-6 {
    ul.user__info{
    }
  }
.loacation-icon.png {
  height: 30px;
  width: 30px;
}
.user_nav {
  position: relative;
  height: 100px;
  position: absolute;
  right: 0;
}
header.title{
  font-size: 100px;
}
ul li {
froat:right;
}

header.heading-sentence{
  font-size: 30px;
}


.sign_in {
  margin-top:20px;
}

.timeline{
  display: block;
  background-color: #ffffff;
  width:400px;
  font-size: 34px;
  text-align: center;
}
