body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, body {
  font-size: 25px;
  color: #4a4a4a;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

//applicaation.html.erb
header{
  width: 100%;
  height: 90px;
  margin-top: 0;
  padding-top: 0;
  background-color: rgb(255, 255, 255);
  border-bottom:solid thin rgb(219, 219, 219);
  position:fixed; z-index: 1;
  text-align: center;
  font-family: inherit;

}

// title {
//   color: 111111;
//   background: #ffffff;
//   width: 500px;
//   padding: 10px;
// }


.header_contents{
   padding:0;
  margin:25px 80px 25px 80px ;

}

.title{
  margin:25px 200px 25px 400px ;
  line-height: 40px;
  color: black;
  font-size: 30px;
  float: left;

}
.header_link{

}

.image_link{
  list-style: none;
  display: inline-block;

}



footer {
  position:　absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  p{
    text-align: center;
    font-size: 20px;
    margin:10 auto;
  }
}




//index.html.erb
.contents{
  margin:0px;
  padding: 0px;
  width: 100%;
  position: relative;

  background: rgb(250, 250, 250);
  border:solid thin rgb(237, 238, 238);
  // 投稿１記事ずつに対する指定
  // font-weight: normal;
    // strong {
    //   font-weight: bold;
    //   padding-right: 5px;
    //   font-size: 1.2em;
    // }
}

.left_image{
margin: 0px 200px;
}
.right_image{
  margin:0px 90px;
}


.left_content{
  width:1000px;
  margin:150px 50px 80px 100px;
  float:left;
}
.post_card{
  margin-bottom: 80px;
  float:left;
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(239, 239, 239);
}


.info_box{
  width: 600px;
  height: 200px;
  padding:10px 200px;

}

.profile_box{
height: 100px;
}

.user_image_box{

  font-size: 30px;

}
.function_box{
  height: 100px;
}

.like_function_box{

}
.show_function_box{
 float:right;
 // margin:20px 50px 20px 0px;
}

.user_name_box{
 line-height: 100px;
}



.right_content{
  width:600px;
  margin:150px 100px 0px 50px;
  padding: 0px 0px 20px 0px;
  background-color: rgb(255, 255, 255);
  border:1px solid rgb(239, 239, 239);
  float:left;
}

.toukouranking{
  font-size: 30px;
}

.img{
  height: 80px;
  width: 100px;

}

.paginate{
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  left: 35.5%;
}


.btn {
  // ボタン全部に関するCSS
  display: inline-block;
  line-height: 40px;
  width: 250px;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color:#fff;
  border:2px solid rgba(10, 10, 10,0.3);
  background-color:rgb(237, 238, 238);
  text-decoration: none;
  &:hover {
    background-color: #fff;
	  border-color: rgb(56, 151, 240);
	  color: rgb(56, 151, 240);
    transition: .3s;
    }
}


.ranking_number_box{
  line-height: auto;
  width: 18px;
  padding: 10px;
  margin-left: 30px;
  border: 5px solid rgb(245, 245, 245);
  border-radius:100px;
  color: rgb(245, 245, 245);
  background-color: rgba(10, 10, 10,0.8);
  opacity: 50%;
  text-align: center;
}


.ranking{
  height: 50px;
  width:auto;
  padding: 20px 30px 0px 30px;
  text-align: center;

}



// new.html.erb
.new_content{
  height:auto;
  width: 600px;
  float: left;
}


div.h3 {
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
}

input{
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
}

input[type="submit"] {
  border-radius: 20px;
  color: #1114444;
  border:solid 1 rgb(219, 219, 219);
  font-size: 18px;
}

textarea{
  background: #ffffff;
  width: 500px;
  padding: 0px;
  text-align: center;
}




//show.html.erb
.show_content{
  // width: 400px;
  // height: auto;
  // float: left;
  margin:150px 50px 80px 100px;
}











//マップに関するCSS━━━━━━━━━━━━━━━━━━━━━━━━━
// .map-embed
// {
// 	max-width: 100% ;
// 	height: 100px ;
// 	margin: 100px ;
// 	padding: 0 0 56.25% ;
// 	overflow: hidden ;
// 	position: relative ;
// 	top: 0 ;
// 	left: 0 ;
// }
//
// .map-embed > div
// {
// 	position: absolute ;
// 	top: 100px ;
// 	left: 100px ;
// 	width: 100% ;
// 	height: 100% ;
// 	margin: 0 ;
// 	padding: 0 ;
// }
//
// .map-embed img
// {
// 	max-width: none ;
//
// }
//
// .map-canvas{
//   max-width: 100% ;
// 	height: 100px ;
// 	margin: 100px ;
// 	padding: 0 0 56.25% ;
// }




// #タグ機能でぶっこんだやつ
/*
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
*/

//
//
//
// @media only screen and (max-width: 979px) {
//
//     Html{
//         Width:100%;
//     }
// } /*デバイスの横幅が979px以下の場合*/
//
// @media only screen and (min-width: 321px) and (max-width: 768px) {
//     Html{
//         Width:100%;
//     }
//
// } /*デバイスの横幅が321以上768以下の場合*/
//
// @media only screen and (max-width: 320px) {
//     header{
//         Width:90%;
//     }
//
// } /* デバイスの横幅が320px以下の場合 */
