// #タグ機能でぶっこんだやつ
/*
 *= require_tree .
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require_self
*/




@media only screen and (max-width: 979px) {

    Html{
        Width:100%;
    }
} /*デバイスの横幅が979px以下の場合*/

@media only screen and (min-width: 321px) and (max-width: 768px) {
    Html{
        Width:100%;
    }

} /*デバイスの横幅が321以上768以下の場合*/

@media only screen and (max-width: 320px) {
    header{
        Width:90%;
    }

} /* デバイスの横幅が320px以下の場合 */






//ヘッダー部分に関して
header.header{
  position: fixed;
  margin-top: 0;
  margin-bottom: 130px;
  height: 75px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom:solid thin rgb(219, 219, 219);
  text-align: center;
  font-family: inherit;
    h1.grid-6 {
      line-height: 40px;
      margin-top: 15px;
      color: black;
      margin-left: 300px;
      float: left;
    }

    div.grid-6 {
      ul.user__info{
        margin-top: 20px;
        margin-right: 300px;
        list-style: none;
      }
    }
  .loacation-icon.png {
    height: 30px;
    width: 30px;
  }
  .user_nav {
    position: relative;
    height: 100px;
    position: absolute;
    right: 0;
  }
  header.title{
    font-size: 100px;
  }
ul li {
  froat:right;
}

  header.heading-sentence{
    font-size: 30px;
  }
}


.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

// ボディに関して

body {
  background: rgb(250, 250, 250);
  // 背景色の指定
  margin:0px;padding:0px;
  // ヘッダーの固定
    .imagezone {
    // 投稿１記事ずつに対する指定
      font-weight: normal;
      background-color: rgb(255, 255, 255);
      // 背景色の指定
      border:solid thin rgb(237, 238, 238);
      // 枠線の指定
      max-height: 800px;
      // 高さの指定
      max-width: 400px;
      // 横幅の指定
      margin: 80px auto;
      // 投稿の
      padding: 0 0 0 0;
      float: left;

        strong {
          font-weight: bold;
          padding-right: 5px;
          font-size: 1.2em;
        }
    }
  nav.pagination{
    font-size: 20px;
  }

  .name{
    text-align: left;
  }
}


.btn {
  display: inline-block;
  width: 200px;
  margin:10px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color:#fff;
  border:2px solid rgb(219, 219, 219);
  background-color:rgb(237, 238, 238);
  text-decoration: none;
  &:hover {
    background-color: #fff;
	  border-color: rgb(56, 151, 240);
	  color: rgb(56, 151, 240);
    transition: .3s;
    }
}



.sign_in {
  margin-top:20px;
}


footer{
  margin-top: 20px;
  height: 50px;
  background-color: gray;
}

// #インデックス画面

title {
  color: 111111;
  background: #ffffff;
  width: 500px;
  padding: 10px;
}

.timeline{
  display: block;
  background-color: #ffffff;
  width:400px;
  font-size: 34px;
  text-align: center;
}

.contents{
  padding: 135px 0 0 0;
}

.section{
  float: right;
}

footer {
  position:　absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
    footer.p{
      text-align: center;
    }
}


// #投稿画面━━━━━━━━━━━━━━━━━━━━━━━━━
div.h3 {
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
}

input{
  background: #ffffff;
  width: 500px;
  padding: 10px;
  text-align: center;
}

input[type="submit"] {
  border-radius: 20px;
  color: #1114444;
  border:solid 1 rgb(219, 219, 219);
  font-size: 18px;
}

textarea{
  background: #ffffff;
  width: 500px;
  padding: 0px;
  text-align: center;
}















//マップに関するCSS━━━━━━━━━━━━━━━━━━━━━━━━━
.map-embed
{
	max-width: 100% ;
	height: 100px ;
	margin: 100px ;
	padding: 0 0 56.25% ;
	overflow: hidden ;
	position: relative ;
	top: 0 ;
	left: 0 ;
}

.map-embed > div
{
	position: absolute ;
	top: 100px ;
	left: 100px ;
	width: 100% ;
	height: 100% ;
	margin: 0 ;
	padding: 0 ;
}

.map-embed img
{
	max-width: none ;

}

.map-canvas{
  max-width: 100% ;
	height: 100px ;
	margin: 100px ;
	padding: 0 0 56.25% ;
}
