body {
background: #eeeeee;
}


// #投稿画面━━━━━━━━━━━━━━━━━━━━━━━━━
h3 {
background: #ffffff;
width: 500px;
padding: 10px;
text-align: center;
}

input{
background: #ffffff;
width: 500px;
padding: 10px;
text-align: center;
}

input[type="submit"] {
    border-radius: 20px;
    color: #1114444;
    border: 0;
    font-size: 18px;
    }



textarea{
background: #ffffff;
width: 500px;
padding: 0px;
text-align: center;
}
